*{
    margin:0;
    padding:0;
    background-color: rgb(238, 92, 92);
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
nav{
    padding:10px;
}
ul.menu-all{
    display:flex;
    justify-content: center;
}
ul.menu-all li.principal{
    position: relative;
}
ul.menu-all li.principal a{
    color:rgb(0, 0, 0);
    background-color: rgb(211, 211, 134);
    border: 1px solid rgb(250, 249, 249);
    display: block;
    padding:10px;
    transition-duration:1s ;
}

ul.menu-all li.principal a:hover{
    color:aliceblue;
    background-color: rgb(238, 117, 18);
}
ul.menu-all ul.sub-menu{
    display:none;
}
ul.menu-all li.principal:hover ul.sub-menu{
    display:block;
}
